<div class="container text-light mt-5 pt-5">
  <div class="row">
    <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <p>what's so special?</p>
        <h class="display-4">FEATURES</h>
      <div class="text mt-5">
        <div class="stepbar">
          <label for="formControlRange">Step Games :</label>
          <input type="range" class="form-control-plaintext bg-warning" id="progressbar1">
        </div>
          <ul id="progressbar" class="text-left">
            <li class="active step text-warning">TRADISIONAL GAMES</li>
            <li class="none"> <small>If you miss your childhood, we provide many tradisional games here</small></li>
            <li class="step text-warning">GAME SUIT</li>
            <li class="step text-warning">TDB</li>
          </ul>
      </div>
    </div>
  </div>
</div>