    <div class="text-center text-light mt-5 pt-5">
      <h1 class="display-5 font-weight-bold mt-5">PLAY TRADISIONAL GAME</h1><br>
      <p class="lead mb-5">Experience new tradisional game play</p>
      <a class="btn btn-warning btn-lg font-weight-bold mt-5" href="http://bit.ly/exscreendesign" target="_blank" role="button">PLAY NOW</a>
      <div class="text-center mt-5 pt-5">
        <a href="./about" class="btn mb-0 pb-0 text-light"><small>THE STORY</small></a><br><span>&nabla;</span>
      </div>
    </div><br>
