<div class="container text-light text-center mt-5 pt-5">
  <p>Can My Computer Run this page?</p>
</div>

<div class="container mt-5 text-light">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="display-5">SISTEM REQUIREMENTS</h1>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row text-light">
    <div class="col-lg-3 table-bordered p-3">
      <h5 class="text-warning">OS :</h5>
      <small>Windows 7 64-bit only (No OSX support at time)</small>
    </div>
    <div class="col-lg-3 table-bordered p-3">
      <h5 class="text-warning">PROCESSOR :</h5>
      <small>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.4 GHZ</small>
    </div>
  </div>
  <div class="row text-light">
    <div class="col-lg-3 table-bordered p-3">
      <h5 class="text-warning">MEMORY :</h5>
      <small>4 GB RAM</small>
    </div>
    <div class="col-lg-3 table-bordered p-3">
      <h5 class="text-warning">STORAGE :</h5>
      <small>8 GB available space</small>
    </div>
  </div>
  <div class="row text-light mb-5">
    <div class="col-lg-6 table-bordered p-3">
      <h5 class="text-warning">GRAPHICS :</h5>
      <small>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</small>
    </div>
  </div>
</div><br>